*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(99, 123, 172);
  padding: 15px 50px;
}

.navbar ul {
  display: flex;
  gap: 25px;
}

.userCard {
  display: flex;
  gap: 15px;
  max-width: fit-content;
  margin: 25px auto;
}
.userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 150px;
  padding: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 3px 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 7px;
}

button:hover {
  background-color: rgb(100, 124, 173);
}

.userImg {
  max-width: 150px;
  max-height: 150px;
  border-radius: 25px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutTesla {
  margin: 0 50px;
}